<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>locImg</servlet-name>
        <servlet-class>package1.locImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataProcessor</servlet-name>
        <servlet-class>package1.dataProcessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestmapper</servlet-name>
        <servlet-class>package1.requestmapper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>locImg</servlet-name>
        <url-pattern>/locImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataProcessor</servlet-name>
        <url-pattern>/dataProcessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestmapper</servlet-name>
        <url-pattern>/requestmapper</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
